 body {
        background: url('img/bg.jpg') repeat fixed;
        background-color: transparent;
        background-image: url("img/bg.jpg");
        background-repeat: repeat;
        background-attachment: fixed;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}
.main-content{
              max-width: 1250px;
              min-height: 100%;
              margin: 0 auto;
              margin-top: 50px;
              box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
              position: relative;
              border-radius: 5px;
              margin-bottom: 50px


}
.relative {     
            position: relative;
}

 

.mimg{
         background: url('img/mountain.jpg') no-repeat;
        background-color: transparent;
        background-image: url("img/mountain.jpg") fixed ;

}
header .intro-text {
  padding-top: 200px;
  padding-bottom: 50px;
  padding-left: 400px;
  color: white;
}
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
  padding-left: 70px;

}
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 25px;
}


ul.search-buttons {
  margin-bottom: 0;
}
ul.search-buttons li a {
  display: block;
  background-color: #222222;
  height: 35px;
  width: 35px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.search-buttons li a:hover,
ul.search-buttons li a:focus,
ul.search-buttons li a:active {
  background-color: gray;
}

.location-buttons{
          background-color: #f45358;
          display: block;
          height: 35px;
          width: 35px;
          border-radius: 100%;
          font-size: 20px;
          line-height: 40px;
          text-align: center;
          color: white;
          outline: none;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
}
.sidenav {
    height: 100%;
    width: 0;
    
   
    
    transition: 0.5s;
    padding-top: 1px;
}

.sidenav a {
    padding: 3px 8px 8px 8px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    
    transition: 0.3s
}

.sidenav a:hover, .offcanvas  a:focus{
    color: gray;   
   
    text-decoration:none;
    background-size: 100%; 
}
.sidenav > ul > li {
    padding-bottom: 7px;
}
 
#progressbar {
      background-color: gray;
        margin-top: 8px;
        margin-left: -20px;
      padding: 1px;
    }
    
    #progressbar > div {
       background-color: white;
       width: 40%; 
       height: 3px;
      
    }

.custom-icon {

  
  background-color: #bcd6ff;
  padding:15px;
  vertical-align:middle;
  border-radius:100%;
  color:white;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
  text-align:center;
 
  width:60px;
  height:60px;
  
}
.custom-icon:hover {
  background:gray;
}
.fix-editor {
  display:none;
}
.icon-wrapper {
  display:inline-block;
}





.col-md-2, .col-md-10{
    padding:0;
     border-radius: 50px 50px 0px 0px;
}
.panel{
    margin-bottom: 0px; 
     border-radius: 50px 50px 0px 0px;
}
.chat-window{
    bottom:0;
    position:fixed;
    float:right;
    margin-left:10px;
     border-radius: 50px 50px 0px 0px;
}
.chat-window > div > .panel{
    border-radius: 50px 50px 0px 0px;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}





.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    right:-745px;
    bottom:-25px;
}
.ride{
    background-color: #fffed1;

}
.ride ul > li {
    padding-bottom: 3px;
    text-decoration: none;

}